.docs-list{	
	margin-bottom: 35px;
	    
	&__item{
		padding: 26px 0 30px;
		
		&-name{
			line-height: 28px;
			margin-bottom: 20px;
		}
		
		&:not(:last-child){
			border-bottom: 1px solid $borderColor10;
		}
	}
}