@font-face {
    font-family: '';
    src: url('../fonts/alscska-webfont.eot');
    src: url('../fonts/alscska-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alscska-webfont.woff2') format('woff2'),
         url('../fonts/alscska-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ALSCSKA';
    src: url('../fonts/alscska-webfont.eot');
    src: url('../fonts/alscska-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alscska-webfont.woff2') format('woff2'),
         url('../fonts/alscska-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ALSEkibastuzLight';
    src: url('../fonts/ALSEkibastuzLight.eot');
    src: url('../fonts/ALSEkibastuzLight.eot') format('embedded-opentype'),
         url('../fonts/ALSEkibastuzLight.woff2') format('woff2'),
         url('../fonts/ALSEkibastuzLight.woff') format('woff'),
         url('../fonts/ALSEkibastuzLight.ttf') format('truetype'),
         url('../fonts/ALSEkibastuzLight.svg#ALSEkibastuzLight') format('svg');
}
@font-face {
    font-family: 'ALSEkibastuzRegular';
    src: url('../fonts/ALSEkibastuzRegular.eot');
    src: url('../fonts/ALSEkibastuzRegular.eot') format('embedded-opentype'),
         url('../fonts/ALSEkibastuzRegular.woff2') format('woff2'),
         url('../fonts/ALSEkibastuzRegular.woff') format('woff'),
         url('../fonts/ALSEkibastuzRegular.ttf') format('truetype'),
         url('../fonts/ALSEkibastuzRegular.svg#ALSEkibastuzRegular') format('svg');
}
@font-face {
    font-family: 'ALSEkibastuzBold';
    src: url('../fonts/ALSEkibastuzBold.eot');
    src: url('../fonts/ALSEkibastuzBold.eot') format('embedded-opentype'),
         url('../fonts/ALSEkibastuzBold.woff2') format('woff2'),
         url('../fonts/ALSEkibastuzBold.woff') format('woff'),
         url('../fonts/ALSEkibastuzBold.ttf') format('truetype'),
         url('../fonts/ALSEkibastuzBold.svg#ALSEkibastuzBold') format('svg');
}
@font-face {
    font-family: 'ALSEkibastuzHeavy';
    src: url('../fonts/ALSEkibastuzHeavy.eot');
    src: url('../fonts/ALSEkibastuzHeavy.eot') format('embedded-opentype'),
         url('../fonts/ALSEkibastuzHeavy.woff2') format('woff2'),
         url('../fonts/ALSEkibastuzHeavy.woff') format('woff'),
         url('../fonts/ALSEkibastuzHeavy.ttf') format('truetype'),
         url('../fonts/ALSEkibastuzHeavy.svg#ALSEkibastuzHeavy') format('svg');
}
@font-face {
    font-family: 'ALSEkibastuzBlack';
    src: url('../fonts/ALSEkibastuzBlack.eot');
    src: url('../fonts/ALSEkibastuzBlack.eot') format('embedded-opentype'),
         url('../fonts/ALSEkibastuzBlack.woff2') format('woff2'),
         url('../fonts/ALSEkibastuzBlack.woff') format('woff'),
         url('../fonts/ALSEkibastuzBlack.ttf') format('truetype'),
         url('../fonts/ALSEkibastuzBlack.svg#ALSEkibastuzBlack') format('svg');
}
@font-face {
    font-family: 'ALSEkibastuzExtraBlack';
    src: url('../fonts/ALSEkibastuzExtraBlack.eot');
    src: url('../fonts/ALSEkibastuzExtraBlack.eot') format('embedded-opentype'),
         url('../fonts/ALSEkibastuzExtraBlack.woff2') format('woff2'),
         url('../fonts/ALSEkibastuzExtraBlack.woff') format('woff'),
         url('../fonts/ALSEkibastuzExtraBlack.ttf') format('truetype'),
         url('../fonts/ALSEkibastuzExtraBlack.svg#ALSEkibastuzExtraBlack') format('svg');
}