.media{
	background: none;
	cursor: default;
	
	&__img{
		display: block;
		margin-bottom: 27px;
	}
	&__name{
		font-size: 14px;
		line-height: 18px;
		font-family: $fontXBlack;
		margin-bottom: 2px;
		letter-spacing: 0.25px;
	}
	&__text{
		font-size: 12px;
		line-height: 20px;		
		color: $fontColor13;
		margin-bottom: 15px;
	}
	&__table{
		display: table;
		border-collapse: collapse;
		
		&-col{
			display: table-cell;
			vertical-align: middle;
			padding: 7px 19px 6px 11px;
			border: 1px solid $borderColor8;
			
			&:last-child{
				padding: 7px 18px 6px; 
			}
		}
	}
	&__date{
		font-size: 12px;
		line-height: 12px;	
		color: $fontColor14;
		
		&-icon{
			fill: $iconColor9;
			margin: -4px 2px 0 0;
		}
	}
	&__download{
		font-size: 16px;
		line-height: 16px;	
		letter-spacing: 1px;
		color: $brandColorBlue;
		font-family: $fontBrand;
		text-decoration: none;
		
		&-icon{
			fill:$brandColorBlue;
			margin-left: 4px;
		}
		
		&:hover{
			color: $brandColorRed;
			
			.media__download-icon{
				fill:$brandColorRed;
			}
		}
	}
}
