.pagenav{
	display: table;
	border-collapse: collapse;
	
	&__outer{
		text-align: center;
		margin: 50px 0 30px;
	}
	&__center{
		display: inline-block;
		vertical-align: top;		
	}
	&__item{
		display: table-cell;
		vertical-align: top;
		border: 1px solid $borderColor; 
		position: relative;
		text-align: center;
	
		&__inline-block{
			display: inline-block;
			vertical-align: top;
			max-width: 60px;
			height: 60px;
		}
	}
	&__link{
		
		text-decoration: none;
		font-size: 18px;
		line-height: 16px;
		font-family: $fontBrand;
		color: $fontColor8;
		padding: 22px 20px 16px 20px;
		min-width: 60px;
		box-sizing: border-box;
		display: block;
		
		&:hover{
			
			color: $fontColor3;
			
			&:after{
				position: absolute;
				left: -1px;
				right: -1px;
				top: -1px;
				bottom: -1px;
				background: $brandColorBlue;
				content: '';
				z-index: -100;
			}
		}
		
		&__current{
			color: $fontColor1 !important;
			
			&:after{
				content: none !important;
			}
		}
	}
	&__arrow{
		text-decoration: none;
		line-height: 22px;
		padding: 22px 20px 16px 20px;
		min-width: 60px;
		box-sizing: border-box;
		display: block;
		min-height: 60px;
		
		&:not(.pagenav__arrow__disabled){
			&:hover{
				
				
				&:after{
					position: absolute;
					left: -1px;
					right: -1px;
					top: -1px;
					bottom: -1px;
					background: $brandColorBlue;
					content: '';
					z-index: -100;
				}
			}
		}
		
		&:before{
			position: absolute;
			text-indent: -9999px;
			background: none;
			width: 0;
			height: 0;
			position: absolute;
			margin: auto;
			top:0;
			bottom: 0;
			left: 0;
			right: 0;	
			content: '';		
		}

			
		&__left{
			&:before{
				border: 10px solid transparent;
				border-right: 10px solid $iconColor9;		
				left: -13px;
			}
			&:not(.pagenav__arrow__disabled){
				&:hover{
					&:before{
						border-right-color: $iconColor5;
					}
				}
			}
		}
		&__right{
			&:before{
				border: 10px solid transparent;
				border-left: 10px solid $iconColor9;
				right: -13px;
			}
			&:not(.pagenav__arrow__disabled){
				&:hover{
					&:before{
						border-left-color: $iconColor5;
					}
				}
			}
		}
	}
	
	&__back{
		display: block;	
		position: absolute;
		text-decoration: none;
		
		&-icon{
			position: absolute;
			left: 0;
			right: 0;
			top:0;
			bottom: 0;
			margin: auto;
			fill: $iconColor9;
			
			&-cont{
				line-height: 22px;
				padding: 22px 20px 16px 20px;
				min-width: 60px;
				box-sizing: border-box;
				display: block;
				min-height: 60px;
				
				&:hover{
					.pagenav__back-icon{
						fill: $iconColor5;
					}
				
					&:after{
						position: absolute;
						left: -1px;
						right: -1px;
						top: -1px;
						bottom: -1px;
						background: $brandColorBlue;
						content: '';
						z-index: -100;
					}
				}			
			}
		}
		&-link{
			font-family: $fontBlack;
			font-size: 12px;
		    line-height: 22px;
		    margin: 21px 0 19px 13px;
		    color: $fontColor8;
		    text-transform: uppercase;
		    display: inline-block;
		    vertical-align: top;
		    letter-spacing: 1px;
		    
		    &:first-child{
			    margin: 21px 13px 19px 0;
		    }
		    &:last-child{
			   margin: 21px 0 19px 13px;
		    }
		    
		    
		}
	}
	
	
}
