.tile{
	
	a.tile__item{
		cursor: pointer;
		
		
		&:hover{
			.tile__item-pic-cont{
				&:before{
					opacity: 1;
				}
			}
			.tile__item-desk{
				bottom: 0;
				opacity: 1;
			}
			.tile__item-panel{
				background: $brandColorRed;
			}
			.tile__item-title{
				color: $fontColor3;
				text-decoration: underline;
			}
			.tile__item-date, .tile__item-content{
				color: $fontColor9;
			}
			.tile__item-content-icon{
				fill: $iconColor8;
			}
			
			
		}
	}
}

.tile{
	margin-bottom: -40px;
	
	& + & {
		margin-top: 80px;
	}
	
	&__item{
		background: $bgColor;
		margin-bottom: 40px;
		display: block;
		text-decoration: none;
		
		    
		&-pic{
			width: 100%;
			max-width: 100%;
			display: block;
			
			&-cont{
				position: relative;
				overflow: hidden;
				
				&:before{
					background: rgba(red($bgColor3), green($bgColor3), blue($bgColor3), 0.3);
					position: absolute;
					left: 0;
					right: 0;
					top:0;
					bottom: 0;
					opacity: 0;
					transition: all 0.4s;
					content: '';
				}
			}	
		}
		&-desk{
			position: absolute;
			bottom: -100%;
			transition: all 0.4s;
			opacity: 0;
			font-size: 12px;
			line-height: 18px;			
			left: 0;
			right: 0;
			padding: 8px 13px;
			
			&__fullheight{
				height: 100%;
				padding: 0;
			}
			
			&-main{
				color: $fontColor3;
				margin-bottom: 12px;
				
				&:last-child{
					margin-bottom: 0;
				}
			}
			&-secondary{
				color: $fontColor10;
			}
			&-icon{
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				z-index: 100;
				fill: $iconColor5;
			}
		}
		
		
		&-panel{
			padding: 10px 12px 11px;
			transition: all 0.4s;
		}
		&-title{
			font-size: 16px;
			line-height: 20px;
			color: $fontColor1;
			margin-bottom: 15px;
			transition: all 0.4s;
		}
		&-table{
			display: table;
			width: 100%;
			
			&-col{
				display: table-cell;
				vertical-align: top;	
				
				&:first-child{
					width: 100%;
					padding-right: 20px;
				}
				&:last-child{
					white-space: nowrap;
				}
			}
		}
		&-date{
			font-size: 12px;
			line-height: 14px;
			color: $fontColor4;
			font-family: $fontLight;
			transition: all 0.4s;
			
			&__absolute{
				position: absolute;
				left: 30px;
				right: 30px;
				bottom: 30px;
			}
			
			&-outer{
				height: 14px;
			}
			
			&__white{
				color: $fontColor3;
			}
		}
		&-content{
			font-size: 12px;
			line-height: 14px;
			color: $fontColor4;
			font-family: $fontLight;
			transition: all 0.4s;
					
			&-icon{
				fill: $iconColor7;
				display: inline-block;
				vertical-align: top;
				transition: all 0.4s;
				
				&__white{
					fill: $iconColor5;
				}
			}
		}	
	}
	&2{
		
	    &__item{
	    	position: relative;
	    	
	    	&__bg-blue{
		    	background: $brandColorBlue;
	    	}
	    	
	    	&-table{
	    		display: table;
	    		width: 100%;
	    		table-layout: fixed;
	    		
	    		&-col{
		    		padding: 0 15px;
		    		display: table-cell;
		    		vertical-align: top;
		    		position: relative;
		    		
		    		&:first-child{
			    		padding-left: 0;
		    		}	
		    		&:last-child{
			    		padding-right: 0;
		    		}
	    		}
	    	}
	    	&-tag{
	    		display: inline-block;
	    		vertical-align: top;
	    		margin: 0 30px 16px 0;
	    		line-height: 16px;
	    		padding: 2px 10px;
	    		border: 1px solid $borderColor11;
	    		color: $fontColor1;
	    		text-decoration: none;
	    		font-size: 10px;
	    		text-transform: uppercase;
	    		transition: 0.4s all;
	    		
	    		&:hover{
		    		background: $brandColorBlue;
		    		border-color: $brandColorBlue;
		    		color: $fontColor3;
	    		}
	    		
	    		&__white{
		    		color: $fontColor3;
		    		border-color: $borderColor9;
		    		
		    		&:hover{
			    		background: $brandColorRed;
			    		border-color: $brandColorRed;
			    		color: $fontColor3;
		    		}
	    		}
	    	}
	    	&-title{
		    	display: block;
		    	font-size: 22px;
		    	line-height: 25px;
		    	color: $fontColor1;
		    	font-family: $fontBrand;
		    	text-decoration: none;
				margin-bottom: 30px;
				transition: 0.4s all;
				
				&:hover{
					color: $brandColorRed;
				}
				
				&__big{
					font-size: 48px;
					line-height: 50px;
					margin-bottom: 40px;
					margin-top: 30px;
					color: $fontColor3;
				}
	    	}
	    	&-panel{
		    	padding: 30px;
	    	}
	    }
	}
}