@@if (comment === false) {
<div class="slick-slider js_slick">
	<div>
	    @@include('page-img.html', {"zoom":false, "comment": false})
	</div>
	<div>
	    @@include('page-img.html', {"zoom":false, "comment": false})
	</div>
	<div>
	    @@include('page-img.html', {"zoom":false, "comment": false})
	</div>
	<div>
	    @@include('page-img.html', {"zoom":false, "comment": false})
	</div>
	<div>
	    @@include('page-img.html', {"zoom":false, "comment": false})
	</div>
	<div>
	    @@include('page-img.html', {"zoom":false, "comment": false})
	</div>	
</div>
}
@@if (comment !== false) {
<div class="slick-slider js_slick">
	<div>
	    @@include('page-img.html', {"zoom":false, "comment": "Подпись к фотографии или небольшой комментарий, указание авторства или правообладания в том числе. Фото: РИА-Новости"})
	</div>
	<div>
	    @@include('page-img.html', {"zoom":false, "comment": "Подпись к фотографии или небольшой комментарий, указание авторства или правообладания в том числе. Фото: РИА-Новости"})
	</div>
	<div>
	    @@include('page-img.html', {"zoom":false, "comment": "Подпись к фотографии или небольшой комментарий, указание авторства или правообладания в том числе. Фото: РИА-Новости"})
	</div>
	<div>
	    @@include('page-img.html', {"zoom":false, "comment": "Подпись к фотографии или небольшой комментарий, указание авторства или правообладания в том числе. Фото: РИА-Новости"})
	</div>
	<div>
	    @@include('page-img.html', {"zoom":false, "comment": "Подпись к фотографии или небольшой комментарий, указание авторства или правообладания в том числе. Фото: РИА-Новости"})
	</div>
	<div>
	    @@include('page-img.html', {"zoom":false, "comment": "Подпись к фотографии или небольшой комментарий, указание авторства или правообладания в том числе. Фото: РИА-Новости"})
	</div>
</div>	
}